<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello Risi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>  
        <form action="/save" method="POST">
            <input name="user_name" type="text" placeholder="type user name..."/>
            <input name="user_name_lastname" type="text" placeholder="type user lastname..."/>
            <button type="submit">SAVE</button>
        </form>
    
</body>
</html>