<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello Risi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>  
        <h1>User details</h1>
        <table>
          <tr>
            <th>Name</th>
            <th>Lastname</th>
          </tr>
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
          </tr>
        </table>

        <a href="/users">Back</a>
</body>
</html>